{% form_theme form 'AppBundle:Form:bootstrap_3_layout.html.twig' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
{#        <input type="submit" value="" />#}
        <button style="margin-left: 120px;margin-top: 15px" type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
