
image{
    float:left;
    width:100px;   
}

#motto{
    margin:0 auto;
    width:400px;
    font-family: Times New Roman;
    font-size: 30px;
    color:orangered;
}

.content{
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 30px;
    height:auto;    
    border-color: #003bb3;
    border-bottom-width: 2px;
    background-color: rgba(176,224,230, 0.4);
    border-radius: 10px;
}

